.hide {
  display: none;
}
.textAlign-center {
  text-align: center;
}
.float-left{
  float: left;
}
.float-right{
  float: right;
}
.color-primary {
  color: $color-primary !important;
}
.fixed-width {
  max-width: 960px;
  padding: 0 $u;
  margin: 0 auto;
}
