@import "shared";
@import "helper-classes";
@import "Vendor/fontello";


@import "Vendor/materialDesignLite/variables";
$target-elements-directly: false;

@import "reset";
html, body {
  font-family: $preferred_font;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
  font-weight: 400;
}

.Table {
  @include table();
}

// Resets and dependencies
@import "Vendor/materialDesignLite/typography/typography";
@import "Vendor/materialDesignLite/button/button";
@import "Vendor/materialDesignLite/shadow/shadow";

@import "Molecules/rte-text";
@import "Molecules/button";
@import "Molecules/circle";
@import "Molecules/hint";
@import "Molecules/slide";
@import "Molecules/media";
@import "Molecules/mobile-nav";


body {
  background-color: $gray-bg--light;
}



.Answer {
  font-size: rem-calc(20);
  line-height: rem-calc(32);
  margin: 0 0 $u 0;
  padding: 2*$u;
  @media #{$medium-up} {
    padding: 4*$u;
  }
  background-color: white;
}

.LikingNav, .VotingNav {
  margin-top: 2*$u;
  margin-bottom: 3*$u;
}

.VotingNav-button {
}











.VotedAnswerFull {
  text-align: center;
  background-color: $color-primary !important;
  color: white;
  margin-top: 2*$u;
  margin-bottom: $u;
  padding: $u;
}

.PreferTextSwitch {
}
.PreferTextSwitch-button {
  width: 50%;
}

.AnswersNav {
  text-align: center;
}



.QuestionHeader {
  margin-top: 2*$u;
  @media #{$medium-up} {
    margin-top: 4*$u;
  }
  @media #{$large-up} {
    margin-top: 6*$u;
  }
}




.button--selected {
  background-color: $gray-bg;
}

html {
  position: relative;
  min-height: 100%;
  height: initial;
}
body {
  margin: 0 0 100px;
}
footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
}


.Header {
  position: relative;
  overflow: hidden;
  padding: $u 0;
  margin-bottom: $u;
  border-bottom: 1px black solid;
}

.Header-logo img {
  height: 40px;
  @media #{$medium-up} {
    height: 60px;
  }
  @media #{$large-up} {
    height: 80px;
  }
  margin-top: 3px;
}

.Menu {
  position: absolute;
  bottom: $u/2;
  right: 0;
}
.MenuItem {
  padding: $u;
  text-transform: uppercase;
  transition: color 0.2s;
  &:hover {
    color: $color-primary;
  }
}


.Stats-link {
  &:hover {
    text-decoration: underline;
  }
}

.Main {
  margin-bottom: 100px;
}

.Footer {
  background-color: $gray-bg--dark;
  color: white;
}
.Footer-inner {
  padding: 2*$u 0 5*$u 0;
}

.LikingNav {
  opacity: 0.54;
}


.Blog-authorName {
  color: $gray--light;
}
.Blog-authorTitle {
  color: $gray--light;
  font-size: rem-calc(24);
  margin-top: $u;
}

.Social {
  @media #{$medium-up} {
    height: 32px;
    margin-left: -108px;
  }
  margin-top: 10px;
}

.Social-buttons {
  @media #{$medium-up} {
    display: inline-block;
  }
  position: relative;
}
.Social-button {
  background-color: transparent;
  @media #{$medium-up} {
    position: absolute;
  }
  color: white;
  border: none;
  font-size: 24px;
  cursor: pointer;
  transition: font-size 0.2s, margin 0.2s;
  top: -19px;
  outline: 0;
  &:focused {
    outline: 0;
  }
  &:nth-child(2) {
    left: 40px;
  }
  &:nth-child(3) {
    left: 80px;
  }
  &:hover {
    margin-left: -2px;
    margin-top: -2px;
    font-size: 28px;
  }
}

// Perhaps the worst piece of CSS I'd ever written
.Help-icon {
  display: inline-block;
  position: absolute;
  top: 7px;
  font-size: 20px;
  transition: font-size 0.2s, margin 0.2s;
  &:before {
    vertical-align: 26%;
    padding-left: 7px;
  }
}
.Help-wrap {
  position: relative;
}
.Help-wrap:hover .Help-icon {
  font-size: 28px;
  margin-left: -5px;
  margin-top: 3px;
}

.mdl-typography--headline-color-contrast.Help-wrap:hover .Help-icon {
  margin-left: -4px;
  margin-top: 0px;
}

.mdl-typography--body-2-color-contrast {
  font-size: rem-calc(16);
}
