@import "shared";
@import "helper-classes";
@import "Vendor/fontello";


@import "Vendor/materialDesignLite/variables";
$target-elements-directly: false;

@import "reset";
html, body {
  font-family: $preferred_font;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
  font-weight: 400;
}

.Table {
  @include table();
}

// Resets and dependencies
@import "Vendor/materialDesignLite/typography/typography";
@import "Vendor/materialDesignLite/button/button";
@import "Vendor/materialDesignLite/shadow/shadow";

@import "Molecules/rte-text";
@import "Molecules/button";
@import "Molecules/circle";
@import "Molecules/hint";
@import "Molecules/slide";
@import "Molecules/spinner";
@import "Molecules/media";
@import "Molecules/mobile-nav";
@import "shame";
