@import "app/styles/shared";

.Stats {
  background-color: $color-primary;
  color: white;
  margin: $u 0;
  padding: 2*$u;
  overflow: hidden;
}

.Stats-title {
  padding-bottom: $u;
}

.Stats-link {
  float: right;
}

.Stats-others {
  display: inline-block;
  margin-right: 2*$u;
  margin-top: $u;
}

.StatsQuestion {
  border-bottom: 1px solid $gray-line;
  padding: 2*$u $u 3*$u $u;
}
