@import "app/styles/shared";

.AnswerSmall {
  cursor: pointer;
  transition: color 0.2s;
}
.AnswerSmall-body {
  margin-top: $u;
  @include breakpoint(small only) {
    float: left;
    padding-right: $u;
    width: 66%;
  }
}
.AnswerSmall-image {
  @include breakpoint(small only) {
    float: right;
    width: 33%;
  }
}

.AnswerSmall:hover {
  color: $color-primary;
}
