@import "app/styles/shared";

.QuestionSmall {
  position: relative;
  display: block;
  margin: 0;
  padding: $u $u 2*$u $u;
  @media #{$large-up} {
    padding: 2*$u $u 3*$u $u;
  }
  border-bottom: 1px solid $gray-line;
  clear: both;
  overflow: auto;
  transition: color 0.2s;
  &:hover {
    background-color: white;
    transition: color 0.2s, background-color 0.2s;
    color: $color-primary;
    .QuestionSmall-icon:before {
      color: lighten($color-primary, 5%);
      box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2) !important;
    }
  }
}
.QuestionSmall--voted {
  color: $gray--light;
  .color-primary {
    color: $gray--light !important;
  }
  .QuestionSmall-icon {
    color: $gray-bg;
  }
  &:hover {
    color: $color-primary;
    .color-primary {
      color: $color-primary !important;
    }
    .QuestionSmall-icon {
      color: $color-primary;
    }
  }
}

.QuestionSmall-subTitle {
  line-height: 18px;
}

.QuestionSmall-lead {
  margin-top: $u;
}

.QuestionSmall-icon {
  position: absolute;
  top: 25%;
  @media #{$large-up} {
    top: 32%;
  }
  right: 2*$u;
  font-size: 46px;
  &:before {
    color: $color-primary;
    transition: background-color 0.2s;
    border-radius: 50%;
    transition: box-shadow 0.2s, background-color 0.2s;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
  }
}
